*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(124, 27, 216);
    text-align: center;
}
h1{
    color: white;
}
.download-btn{
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.download-btn:hover{
    background-color: rgb(155, 1, 1);
}